<style>
    .dropdown-submenu {
        position: relative;
        margin-right: 0;
    }

    .navbar-default {
        /*height: 48px;*/
    }

    .navbar .navbar-nav > li > a {
        /*padding-top: 14px;*/
        /*padding-bottom: 14px;*/
    }

    #myNavmenu .navbar-default {
        background-color: white;
    }

    .navbar-header .navbar-toggle {
        /*margin-top: 12px;*/
        /*padding: 6px 10px;*/
    }

    .nav-tabs > li > a, .dropdown-menu > li > a {
        padding: 7px 16px;
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: 0;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-menu li {
        overflow: inherit;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }

    .dropdown-menu label {
        white-space: nowrap;
    }
    .dropdown-menu {
        padding-right: 9px;
    }
</style>
<!-- map -->
<style>

    #pane {
        right: 0;
    }

    #list {
        position: absolute;
        height: 100%;
        right: 0;
        left: 0;
        z-index: 1;
        background-color: #ffffff;
        display: none;
    }

    #switcher, #switcher-list {
        height: 50px;
        top: 5px;
        z-index: 2;
        display: block;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
    }

    #switcher {
        width: 200px;

    }

    #switcher-list {
        top: 50px;
        width: 150px;

    }

    #inner-list {
        display: block;
        top: 90px;
        margin: auto;
        position: relative;
        left: 0;
        right: 0;
        max-width: 400px;
        height: calc(100% - 150px);
        overflow: auto;
    }

    #inner-list img {
        width: 40px;
        float: left;
        margin-right: 15px;
    }

    #btn-kort, #btn-list-dis {
        float: left;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-topleft: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    #btn-list, #btn-list-alpha {
        float: right;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-topright: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    #btn-kort, #btn-list {
        width: 50%;
        text-align: center;
        background-color: rgba(224, 241, 251, 0.9);

    }

    #btn-list-dis, #btn-list-alpha {
        width: 50%;
        text-align: center;
        background-color: rgba(241, 241, 241, 0.9);

    }

    .nav > li {
        float: left !important;
    }

    #switcher .active {
        background-color: #008ECF;
        color: white;
    }

    #switcher-list .active {
        background-color: #9e9e9e;
        color: white;
    }

    #switcher-list .disabled {
        color: white;
        cursor: not-allowed;
    }

    #btn-list h3, #btn-kort h3 {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding: 5px;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
    }

    #btn-list-dis h3, #btn-list-alpha h3 {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding: 3px;
        font-size: 12px;
        font-weight: 300;
        cursor: pointer;
    }

    .naturpark-list-item {
        font-weight: 300;
        cursor: pointer;
        text-align: left;
        width: 100%;
        margin: 2px 0 0 0;
        background-color: rgba(248, 248, 248, 1);
    }

    .naturpark-list-item div {
        white-space: nowrap;
    }

    .navbar {
        left: 0 !important;
    }

    .leaflet-control-locate {
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
        z-index: 0;
    }

    .btn-share {
        margin: 5px !important;
    }

    .leaflet-top.leaflet-right {
        display: none !important;
    }

    .distance {
        font-size: 80%;
        vertical-align: middle;
        line-height: 0;
        margin-right: 10px;
        color: #9e9e9e;
    }

    .btn-text {
        margin-bottom: 7px;
    }

    .btn-text-dis {
        margin-top: 7px;
    }

    .btn-text-alpha {
        margin-top: 12px;
    }

    .carousel-caption {
        padding: 0;
        top: 10px;
    }

    .embed-responsive {
        margin-top: 18px;
    }

    #main {
        margin: 0 auto;
        text-align: left;
    }

    ul {
        list-style: none;
    }

    #start-modal ul {
        padding-left: 5px;
    }

    #start-modal li {
        margin-bottom: 7px;
    }

    .form-inline .form-control {
        width: 50%;
        margin-left: 80px;
    }

    .done {
        color: #00ff33;
        text-decoration: line-through;
    }

    .undone {
        color: #ff0033;
    }

    .icon {
        margin: 6px 10px 6px 0;
    }

    .list-group-item {
        padding: 9px 3px;

        border: none;
    }

    .inherit-size {
        font-size: inherit;
    }

    #floating-container-primary {
        position: absolute;
        top: 68px;
        right: 8px;
        width: 40px;
    }

    #floating-container-secondary {
        position: absolute;
        top: 235px;
        right: 8px;
        width: 40px;
    }

    #floating-container-secondary a {
        margin-bottom: 8px;
    }

    #floating-container-primary a {
        margin-bottom: 8px;
    }

    .leaflet-control-locate a, .leaflet-control-locate a:hover, .leaflet-control-locate .fa {
        border-radius: 50% !important;
        font-size: 18px;
        height: 40px;
        margin: auto;
        min-width: 40px;
        width: 40px;
        padding: 0;
        overflow: hidden;
        -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
        position: relative;
        line-height: 40px
    }

    #floating-container-primary a, #floating-container-secondary a {
        background-color: white;
    }

    #floating-container-primary a:hover, #floating-container-secondary a:hover {
        background-color: lightgray;
    }

    .leaflet-bar {

        box-shadow: none !important;
        /* border-radius: 4px !important; */
    }

    .btn.btn-fab btn-fab-mini, .btn.btn-fab btn-fab-mini.btn-primary, .btn:not(.btn-raised):not(.btn-link):hover {

    }

    .dialog-bottom {
        padding: 14px 15px;
        margin-bottom: 20px;
        height: auto;

        clear: both;
        min-width: 288px;
        max-width: 568px;

        position: fixed;
        left: auto;
        right: 56px;
        bottom: -100%;

        box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 15px 77px 0 rgba(0, 0, 0, .22);
        background-color: #fff;

        border-radius: 2px;
        max-height: 80%;

    }

    .dialog-bottom .modal-body {
        max-height: 60vh;

    }

    .expand-more {
        display: none;
    }

    /*.fixed-table-container {*/
    /*height: 100% !important;*/
    /*}*/

    .list-group .list-group-item {
        padding: 3px 16px;
    }

    .modal-dialog br {
        line-height: 28px;
    }

    .carousel {
        margin-top: 5px;
    }

    .vmus-text {
        margin-top: 28px;
    }

    #share-buttons {
        margin-top: 10px;
        margin-buttom: 10px;
    }

    /*img.center, div.center {*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*width: 230px;*/
    /*margin-bottom: 20px;*/
    /*}*/

    .start-list-icon {
        margin-left: -17px;
        width: 35px;
        height: 45px;
        transform: none;
        z-index: 121;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .start-list-text {
        position: relative;
        margin-left: 14px;
        max-width: 85%;
        display: inline-block;
        vertical-align: middle;

    }

    .start-list-text p {
        margin: 0;
    }

    .nav .checkbox {
        width: 140px;
        display: inline-block;
        height: 50px;
        padding-top: 12px;
    }

    .nav .overlay-label {
        width: 130px;
        font-size: 18px;
        font-weight: 300;
    }

    #burger-btn {
        display: inline;
    }

    #layer-slide {
        display: inline;
    }

    #vectorlayers .panel:first-child {
        display: none;
    }

    #count-badge {

        position: absolute;
        right: 16px;
        top: -2px;
        font-size: 10pt;
    }

    #layer-slide, #info-modal-top {
        position: fixed;
        max-width: 650px;
        z-index: 3000;
        min-width: 350px;
        width: 30%;
        height: 100%;
        background-color: white;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }

    @media (max-width: 450px) {
        .navmenu,
        .navbar-offcanvas,
        #layer-slide, #info-modal-top {
            width: 75%;
            min-width: 240px;
        }

        #layer-slide, #info-modal-top {
            right: -75%;
        }

        .export {
            display: none !important;
        }
    }

    .dialog-bottom-wide {
        min-width: 568px;
        max-width: 768px;
    }

    @media (max-width: 767px) {
        .dialog-bottom {
            min-width: 100%;
            border-radius: 0;
            margin-bottom: 0;
            right: 0;
            left: 0;
        }

        .dialog-bottom .modal-body {
            max-height: 60vh;

        }

        .navbar-brand.navbar-brand-text {
            display: none;
        }

        .nav .checkbox {
            display: none;
        }

        .dialog-bottom-wide {
            min-width: 288px;
            max-width: 568px;
        }

    }

    @media (min-width: 1200px) {
        .navbar-toggle {
            margin-top: 14px;
        }

        .nav .checkbox {
            padding-top: 17px;
        }

    }

    @media (max-width: 1200px) {

        #floating-container-primary {
            top: 58px;

        }

        #floating-container-secondary {
            top: 225px;

        }

        .navbar-brand {
            height: 50px;
            padding: 10px 0px;
        }
    }

    .btn:not(.btn-raised):not(.btn-link):focus, .btn:not(.btn-raised):not(.btn-link):hover, .input-group-btn .btn:not(.btn-raised):not(.btn-link):focus, .input-group-btn .btn:not(.btn-raised):not(.btn-link):hover {
        background-color: #EEEEEE;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    .nav .checkbox input[type=checkbox]:checked + .checkbox-material .check, label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check {
        color: #fff;
        border-color: #fff;
        background-color: #fff;

    }

    .nav .checkbox .checkbox-material .check, label.checkbox-inline .checkbox-material .check {
        border: 2px solid #bdbdbd;
    }

    .form-group.is-focused .checkbox label, .form-group.is-focused label.checkbox-inline {
        color: #bdbdbd !important;
    }

    .panel-heading a, .panel-heading a:focus, .panel-heading a:hover {

        text-decoration: none;
    }

    #btn-start {
        font-size: 18px;
        margin-right: 30px;
    }

    .refresh-vector-layer {
        display: none !important;
    }

    .tab-content > .tab-pane {
        height: auto !important;
    }

    #watsonc-features-dialog.dialog-bottom {
        height: 80% !important;
        left: 56px;
        right: auto;
    }

</style>
<!-- map -->
<div id="pane">

    <div id="container">

        <div id="map"></div>

        <div id="floating-container-primary">
            <a href="javascript:void(0)" id="zoom-in-btn" class="btn btn-default btn-fab btn-fab-mini"><i
                    class="material-icons">add</i></a>
            <a href="javascript:void(0)" id="zoom-default-btn" class="btn btn-default btn-fab btn-fab-mini"><i
                    class="material-icons">home</i></a>
            <a href="javascript:void(0)" id="zoom-out-btn" class="btn btn-default btn-fab btn-fab-mini"><i
                    class="material-icons">remove</i></a>
        </div>

        <div id="floating-container-secondary">
            <div id="locale-btn"></div>
            <a href="#base-layers-dialog" id="base-layers-btn"
               class="btn btn-default btn-fab btn-fab-mini map-tool-btn"><i
                    class="material-icons">layers</i></a>
            <a href="#info-dialog" id="info-dialog-btn" data-module="info"
               class="btn btn-default btn-fab btn-fab-mini map-tool-btn"><i
                    class="material-icons">info</i></a>
            <a href="#print-dialog" id="print-dialog-btn" data-module="print"
               class="btn btn-default btn-fab btn-fab-mini map-tool-btn"><i
                    class="material-icons">print</i></a>
            <a href="#offline-map-dialog" id="offline-map-btn" data-module="offline-map"
               class="btn btn-default btn-fab btn-fab-mini map-tool-btn"><i
                    class="material-icons">save_alt</i></a>
        </div>
    </div>

    <!-- Nav bar -->
    <nav class="navbar navbar-default navbar-fixed-top fade-then-dragging">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <button type="button" class="navbar-toggle" id="burger-btn">
                        <i class="fa fa-database"></i> {{Filter measurements}}
                    </button>
                </div>
                <div class="col-xs-4" style="text-align: center;">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 321.2 93" style="enable-background:new 0 0 321.2 93; height: 60px;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#A0E0C5;}
                            .st1{fill:#FFFFFF;}
                        </style>
                        <g>
                            <g>
                                <path class="st0" d="M274.9,17.3c5.9,1.2,11,5.5,13.2,11c1.3,3.2,1.8,6.9,4.3,9.2c2,1.8,4.9,2.3,7.5,1.6c2.6-0.7,4.8-2.5,6.3-4.7
                                    c3.6-5.2,3.2-12.5,0-17.9c-3.2-5.4-9-9-15.2-10.6c-10.1-2.5-21.5,0.5-28.6,8.2c-1.4,1.5-2.6,3.2-3.6,5c-0.6,1,0.6,2.2,1.6,1.6
                                    C264.5,18.4,270.5,16.4,274.9,17.3"/>
                                <path class="st1" d="M313.6,54.9c-4.3-5.9-11.3-5.4-17.1-3.4c-4.4,1.5-8.5,3.8-13,4.7c-10.2,2.1-21.3-3.8-25.8-13.2
                                    c-2.3-4.8-2.9-10.4-1.9-15.6c0.2-1.2-1.3-1.9-2.1-1c-6.7,8.3-9.9,19.4-8.2,30c2.2,13.3,12.1,25.1,24.8,29.5
                                    c12.7,4.4,27.8,1.3,37.7-7.8c4.7-4.3,8.4-10.2,7.9-16.9C315.7,59,314.9,56.8,313.6,54.9"/>
                            </g>
                            <g>
                                <path class="st1" d="M12.4,55.7c0,6.6,2.7,11.6,9.5,11.6c3.2,0,6.5-1.5,8.8-4.5c0.2-0.4,0.7-0.6,1.2-0.6c0.2,0,0.5,0.1,0.7,0.2
                                    l3.1,1.9c0.4,0.3,0.6,0.7,0.6,1.2c0,0.3-0.1,0.6-0.2,0.8c-2.7,4.7-7.7,7.5-14.2,7.5c-10.5,0-16.6-7.5-16.6-18
                                    c0-10.6,6.1-18.5,16.6-18.5c6.5,0,11.6,2.9,14.3,7.5c0.2,0.2,0.2,0.5,0.2,0.8c0,0.5-0.2,0.9-0.6,1.2l-3,1.9
                                    c-0.2,0.1-0.5,0.2-0.7,0.2c-0.6,0-1-0.2-1.2-0.6c-2.2-3-5.5-4.5-8.8-4.5C15.1,43.6,12.4,49.3,12.4,55.7z"/>
                                <path class="st1" d="M57.5,37.8c0.7,0,1.4,0.6,1.7,1.4l9.5,32.5c0,0.8-0.7,1.4-1.4,1.4h-4.2c-0.7,0-1.4-0.6-1.6-1.4l-1-4.1H46.9
                                    l-1.1,4.1c-0.2,0.7-0.9,1.4-1.6,1.4H40c-0.7,0-1.4-0.6-1.4-1.4l9.5-32.5c0.2-0.8,0.9-1.4,1.7-1.4H57.5z M58.4,61.3l-4.7-16.5
                                    l-4.8,16.5H58.4z"/>
                                <path class="st1" d="M74.6,39.2c0-0.4,0.2-0.8,0.5-1.1c0.2-0.2,0.6-0.4,0.9-0.4h4.3c0.4,0,0.8,0.1,1.1,0.4c0.2,0.2,0.4,0.6,0.4,1
                                    v27.2h14.4c0.4,0,0.8,0.2,1.1,0.5c0.2,0.2,0.3,0.6,0.3,0.9v4c0,0.4-0.1,0.7-0.4,0.9c-0.2,0.2-0.6,0.4-1,0.4H76
                                    c-0.4,0-0.8-0.2-1.1-0.4c-0.2-0.2-0.4-0.6-0.4-1V39.2z"/>
                                <path class="st1" d="M110.6,53l6.8-13.8c0.4-0.7,1.1-1.4,1.8-1.4h4.7c0.7,0,1.4,0.6,1.4,1.4L114.1,62v9.8c0,0.8-0.7,1.4-1.4,1.4
                                    h-4.3c-0.7,0-1.4-0.6-1.4-1.4V62L95.7,39.2c0-0.8,0.7-1.4,1.4-1.4h4.7c0.7,0,1.4,0.7,1.8,1.4L110.6,53z"/>
                                <path class="st1" d="M141.1,37.8c10.5,0,15.2,6.2,15.2,12.9v0.5c0,6.7-4.7,13.1-15.2,13.1h-4.9v7.3c0,0.8-0.7,1.4-1.4,1.4h-4.3
                                    c-0.7,0-1.4-0.6-1.4-1.4V39.2c0-0.8,0.7-1.4,1.4-1.4H141.1z M136.3,44.1v13.7h4.9c7,0,8-3.3,8-6.6v-0.5c0-3.4-1.1-6.7-8-6.7H136.3
                                    z"/>
                                <path class="st1" d="M184.5,47.6h-4c-0.7,0-1.6-0.7-1.9-1.5c-1.2-2.4-3.8-2.6-7-2.6c-3.7,0-5.7,1.4-5.7,3.7
                                    c0,5.5,21.2,4.5,21.2,15.6c0,8.5-6,11.1-13.9,11.1c-7.5,0-13.5-2.9-14.2-8.9c0-0.8,0.6-1.7,1.6-1.7h4c0.7,0,1.6,0.6,1.9,1.4
                                    c1,2.3,4.2,2.9,6.8,2.9c3.2,0,6.8,0,6.8-4.3c0-6.1-21.2-4-21.2-15.9c0-6.2,4.9-10.1,12.8-10.1c7.7,0,13.7,2.8,14.5,8.7
                                    C186.1,46.7,185.5,47.6,184.5,47.6z"/>
                                <path class="st1" d="M190.2,55.7c0-10.6,6.1-18.5,16.5-18.5c10.5,0,16.5,7.9,16.5,18.5c0,10.6-6.1,18-16.5,18
                                    C196.3,73.8,190.2,66.3,190.2,55.7z M216.1,55.7c0-6.5-2.5-12.3-9.4-12.3c-6.8,0-9.4,5.7-9.4,12.3c0,6.7,2.6,11.8,9.4,11.8
                                    C213.6,67.5,216.1,62.4,216.1,55.7z"/>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="col-xs-4" style="text-align: right; padding-right: 50px;">
                    <button type="button" class="navbar-toggle js-open-state-snapshots-panel" style="display: inline; float: right;">
                        <i class="fa fa-file-alt"></i> {{State snapshots}}
                    </button>
                    <button type="button" class="navbar-toggle js-open-watsonc-panel" style="display: inline; float: right;">
                        <i class="fa fa-chart-area"></i> {{Time series}}
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <div id="base-layers-dialog" class="dialog-bottom fade-then-dragging">
        <div class="modal-header">
            <button type="button" class="close close-hide" aria-hidden="true"><i class="material-icons">close</i>
            </button>
            <button type="button" class="close expand-more" aria-hidden="true"><i class="material-icons">expand_less</i>
            </button>
            <button type="button" class="close expand-less" aria-hidden="true"><i class="material-icons">expand_more</i>
            </button>
            <h3 class="modal-title">Korttype</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" id="base-layer-list"></div>
        </div>
    </div>

    <div id="editor-attr-dialog" class="dialog-bottom fade-then-dragging">
        <div class="modal-header">
            <button type="button" class="close editor-attr-dialog__close-hide" data-module="editor" aria-hidden="true">
                <i class="material-icons">close</i>
            </button>
            <button type="button" class="close editor-attr-dialog__expand-more" aria-hidden="true"><i
                    class="material-icons">expand_less</i>
            </button>
            <button type="button" class="close editor-attr-dialog__expand-less" aria-hidden="true"><i
                    class="material-icons">expand_more</i>
            </button>
            <h3 class="modal-title">Attributes</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" id="editor-attr-form"></div>
        </div>
    </div>

    <div id="watsonc-features-dialog" class="dialog-bottom fade-then-dragging dialog-bottom-wide">
        <div class="modal-header">
            <button type="button" class="close close-hide" data-module="editor" aria-hidden="true"><i
                    class="material-icons">close</i>
            </button>
            <button type="button" class="close expand-more" aria-hidden="true"><i class="material-icons">expand_less</i>
            </button>
            <button type="button" class="close expand-less" aria-hidden="true"><i class="material-icons">expand_more</i>
            </button>
            <h3 class="modal-title">Watsonc extension</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" id="watsonc-features-dialog-form"></div>
        </div>
    </div>

    <div id="offline-map-dialog" class="dialog-bottom fade-then-dragging">
        <div class="modal-header">
            <button type="button" class="close close-hide" data-module="editor" aria-hidden="true"><i
                    class="material-icons">close</i>
            </button>
            <button type="button" class="close expand-more" aria-hidden="true"><i class="material-icons">expand_less</i>
            </button>
            <button type="button" class="close expand-less" aria-hidden="true"><i class="material-icons">expand_more</i>
            </button>
            <h3 class="modal-title">Offline base layer</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" id="offline-map-form"></div>
        </div>
    </div>

    <div id="print-dialog" class="dialog-bottom fade-then-dragging">
        <div class="modal-header">
            <button type="button" class="close close-hide" data-module="print" aria-hidden="true"><i
                    class="material-icons">close</i>
            </button>
            <button type="button" class="close expand-more" aria-hidden="true"><i class="material-icons">expand_less</i>
            </button>
            <button type="button" class="close expand-less" aria-hidden="true"><i class="material-icons">expand_more</i>
            </button>
            <h3 class="modal-title">Print</h3>
        </div>
        <div class="modal-body">
            <div class="togglebutton" style="display:none">
                <label>
                    <input id="print-btn" type="checkbox"> {{Activate print tools}}
                </label>
            </div>
            <div class="btn-toolbar bs-component" style="margin: 0;">
                <div class="btn-group">
                    <button id="start-print-btn" class="btn btn-raised" style="width: 130px"
                            data-loading-text="<i class='fa fa-cog fa-spin fa-lg'></i> {{Make PDF}}
                                                " disabled><i class='fa fa-cog fa-lg'></i> {{Make PDF}}
                    </button>
                </div>
                <fieldset disabled id="get-print-fieldset">
                    <div class="btn-group" style="display: none">
                        <a target="_blank" href="javascript:void(0)" class="btn btn-primary btn-raised"
                           id="open-pdf">{{Open PDF}}</a>
                        <a href="bootstrap-elements.html" data-target="#"
                           class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown"><span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" id="download-pdf">{{Download}}</a></li>
                            <li><a target="_blank" href="javascript:void(0)" id="open-html">{{Open HTML page}}</a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div>
                <form class="form-horizontal" id="print-form" role="form" data-toggle="validator">
                    <fieldset>
                        <div class="form-group">
                            <label for="select-scale" class="col-md-2 control-label">{{Scale}}</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                disabled>1: <span class="caret"></span></button>
                                        <ul id="ul-scale" class="dropdown-menu dropdown-menu-right"></ul>
                                    </div>
                                    <input type="number" min="200" id="select-scale" class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="display: none">
                            <label class="col-md-2 control-label">{{Template}}</label>
                            <div class="col-md-10" id="print-tmpl"></div>
                        </div>

                        <div class="form-group" style="display: none">
                            <label class="col-md-2 control-label">{{Page size}}</label>
                            <div class="col-md-10" id="print-size"></div>
                        </div>

                        <div class="form-group" style="display: none">
                            <label class="col-md-2 control-label">{{Orientation}}</label>
                            <div class="col-md-10" id="print-orientation"></div>
                        </div>

                        <div class="form-group" style="display: none">
                            <label for="print-title" class="col-md-2 control-label">{{Title}}</label>

                            <div class="col-md-10" style="display: none">
                                <input type="text" class="form-control" id="print-title" disabled>
                            </div>
                        </div>

                        <div class="form-group" style="display: none">
                            <label for="print-comment" class="col-md-2 control-label">{{Comment}}</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" id="print-comment" disabled></textarea>
                                <span class="help-block">{{The comment will be placed on the PDF}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="togglebutton">
                                <label>
                                    <input id="add-legend-btn" type="checkbox" checked disabled> {{Show legend on
                                                                                                        print}}
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div id="info-dialog" class="dialog-bottom fade-then-dragging dialog-bottom-wide">
        <div class="modal-header">
            <button type="button" class="close close-hide" data-module="editor" aria-hidden="true"><i
                    class="material-icons">close</i>
            </button>
            <button type="button" class="close expand-more" aria-hidden="true"><i class="material-icons">expand_less</i>
            </button>
            <button type="button" class="close expand-less" aria-hidden="true"><i class="material-icons">expand_more</i>
            </button>
            <h3 class="modal-title">Info</h3>
        </div>
        <div class="modal-body">
            <div id="info-box">
                <div id="modal-info-body">
                    <ul class="nav nav-tabs" id="info-tab"></ul>
                    <div class="tab-content" id="info-pane"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="layer-slide" class="slide-left fade-then-dragging">
        <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">×</button>
            <h3 class="modal-title"></h3>
        </div>
        <div id="layer-slide-body-wrapper">
            <div class="modal-body">
                <div class="form-group" id="watsonc-layers" style="padding-top: 10px;"></div>
                <div class="form-group" id="layers"></div>
            </div>
        </div>
    </div>

    <div id="info-modal-top" class="slide-left fade-then-dragging">
        <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">×</button>
            <h3 class="modal-title">Liste</h3>
        </div>
        <div id="info-modal-top-body-wrapper">
            <div class="modal-body">
            </div>
        </div>
    </div>


</div>


<!-- About Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="about-modalLabel">{{About}}</h4>
            </div>
            <div class="modal-body">
                {{{aboutBox}}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{Close}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Info Modal -->
<div class="modal fade" id="click-modal" tabindex="-1" role="dialog" aria-labelledby="click-modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="click-modalLabel"></h3>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{Close}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="click-modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="login-modalLabel"></h3>
            </div>
            <div class="modal-body" id="login-modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{Close}}</button>
            </div>
        </div>
    </div>
</div>

<div id="search-ribbon">
    <div id="search-border"><i class="floatRight cursorPointer fa fa-reorder"></i></div>
    <div id="search-container">
        <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation"
             data-autohide="false" data-recalc="true" style="overflow: hidden">

            <div id="info-modal" class="slide-right">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">×</button>
                    <h2 class="modal-title"></h2>
                </div>
                <div id="info-modal-body-wrapper">
                    <div class="modal-body" id="info-modal-body"></div>
                </div>
            </div>

            <div id="module-container" class="slide-right">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">×</button>
                    <h2 class="modal-title"></h2>
                </div>
                <div id="module-container-wrapper">
                    <div class="modal-body" id="module-container-body">
                        <!-- Tab panes -->
                        <div class="tab-content main-content">
                            <div role="tabpanel" class="tab-pane fade" id="state-snapshots-content">
                                <div class="help-btn" onclick='javascript:$(this).next().html(`<div class="alert alert-dismissible alert-info" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">×</button>{{StateSnapshots
                                        description}}
                                    </div>`)'><i class="material-icons help-btn">help_outline</i></div>
                                <div></div>
                                <div class="form-group" id="state-snapshots" role="tablist"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="javascript:void(0)"><i class="material-icons brand-icon">fullscreen</i>{{brandName}}
                        </a>
                    </div>
                </div>
            </div>

            <div id="side-panel">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="" role="tablist" id="main-tabs">
                        <li role="presentation"><a href="#state-snapshots-content" aria-controls="" role="tab"
                                                   data-toggle="tab"><i data-container="body" data-toggle="tooltip"
                                                                        data-placement="left"
                                                                        title="{{State snapshots}}"
                                                                        class="material-icons">camera</i><span
                                class="module-title">{{State snapshots}}</a></li>
                    </ul>
                    <ul role="tablist">
                        <hr>
                        <li>
                            <a href="#" id="btn-reset"><i class="material-icons">replay</i>{{Reset}}</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#about-model"><i class="material-icons">question_answer</i>{{About}}</a>
                        </li>
                        <li>
                            <a href="http://watsonc.dk" target="_blank">
                                <i class="material-icons">home</i>{{Main page}}
                            </a>
                        </li>
                        <li>
                            <a id="session" href="#" data-toggle="modal" data-target="#login-modal">
                                <i class="material-icons gc2-session-lock" aria-hidden="true"
                                   style="display: none">lock</i>
                                <i class="material-icons gc2-session-unlock" aria-hidden="true">lock_open</i>
                                <span class="module-title">Log in</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>




